/* || GOOGLE FONTS */

/* || RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || UTILITIES */
.offscreen {
    position: absolute;
    left: -9999px;
}

.nowrap {
    white-space: nowrap;
}

/* || VARIABLES */
:root {
    /* FONTS */

    /* COLORS */
    --COLOR-PRIMARY: #333;
    --COLOR-SECONDARY: rgb(175, 99, 7);
    --COLOR-TERTIARY: antiquewhite;
    --BGC: floralwhite;
    --BGC-FADE: rgb(245, 213, 172);
    --BGI: linear-gradient(to bottom, snow, var(--BGC), var(--BGC-FADE));
    --BOX-SHADOW: 10px 0 20px rgba(0, 0, 0, 0.125);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --COLOR-PRIMARY: whitesmoke;
        --COLOR-SECONDARY: aliceblue;
        --COLOR-TERTIARY: lightgray;
        --BGC: gray;
        --BGC-FADE: rgb(156, 151, 144);
        --BGI: linear-gradient(to bottom, #0a0a0a, var(--BGC), var(--BGC-FADE));
        --BOX-SHADOW: 10px 0 20px rgba(255, 255, 255, 0.125);
    }
}


/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
}

body {
    margin-left: 270px;
    background-color: var(--BGC);
    background-image: var(--BGI);
}

/* Sidebar CSS */
body #sec--body__main .sec--sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background-color: var(--BGC);
    box-shadow: var(--BOX-SHADOW);
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    overflow-x: hidden;
    transition: all 1s ease;
}

body #sec--body__main .sec--sidebar:hover {
    width: 250px;
    background-image: var(--BGI);
}

body #sec--body__main .sec--sidebar .sec--sidebar__logo {
    display: flex;
    align-items: center;
}

body #sec--body__main .sec--sidebar .sec--sidebar__logo img {
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 5px 0 10px rgb(248, 194, 124);
}

body #sec--body__main .sec--sidebar .sec--sidebar__logo h2 {
   color: var(--COLOR-SECONDARY); 
   font-size: 1.5rem;
   font-weight: 600;
   margin-left: 25px;
}

body #sec--body__main .sec--sidebar .sec--sidebar-links {
    margin-top: 20px;
    color: var(--COLOR-PRIMARY);
    list-style: none;
    font-style: italic;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
}

body #sec--body__main .sec--sidebar .sec--sidebar-links hr {
    width: 120px;
    height: 5px;
    background-color: var(--BGC-FADE);
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
}

body #sec--body__main .sec--sidebar .sec--sidebar-links h4 span {
    opacity: 0;
}

body #sec--body__main .sec--sidebar:hover .sec--sidebar-links h4 span {
    opacity: 1;
    transition: all 1s ease;
}

body #sec--body__main .sec--sidebar .sec--sidebar-links h4 {
    color: var(--COLOR-SECONDARY);
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 25px;
}

body #sec--body__main .sec--sidebar .sec--sidebar-links .menu-separator {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    transform: scaleX(1);
    transform: scaleY(-50%);
    background: var(--BGC-FADE);
    transform-origin: right;
    transition-duration: 0.5s;
}

body #sec--body__main .sec--sidebar:hover .sec--sidebar-links .menu-separator {
    transform: scaleX(0);
    transition-delay: 0.5s;
}

body #sec--body__main .sec--sidebar .sec--sidebar-links li a {
    color: var(--COLOR-PRIMARY);
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    gap: 0 20px;
    font-weight: 500;
    text-decoration: none;
    padding: 15px 10px;
    white-space: nowrap;
    transition: color 1s ease;
}

body #sec--body__main .sec--sidebar .sec--sidebar-links li a:hover,
body #sec--body__main .sec--sidebar .sec--sidebar-links li a:focus {
    color: var(--COLOR-SECONDARY);
    transition: color 0.3s ease;
    border-radius: 4px;
    background: var(--BGI);
}

body #sec--body__main .sec--sidebar .sec--sidebar-links li a:active {
    color: var(--COLOR-SECONDARY);
    background: var(--BGC-FADE);
    transition: color 0.3s ease;
}

body #sec--body__main .sec--sidebar .user-account {
    margin-top: auto;
    padding: 12px 10px;
    margin-left: -10px;
}

body #sec--body__main .sec--sidebar .user-account .user-profile {
    display: flex;
    align-items: center;
    color: var(--COLOR-SECONDARY);
}

body #sec--body__main .sec--sidebar .user-account .user-profile img {
    border-radius: 50%;
    box-shadow: 5px 0 10px rgb(224, 145, 40);
}

body #sec--body__main .sec--sidebar .user-account .user-profile h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

body #sec--body__main .sec--sidebar .user-account .user-profile span {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    margin-top: 0;
}

body #sec--body__main .sec--sidebar .user-account .user-info {
    margin-left: 23px; 
    white-space: nowrap;
    overflow: hidden;
}

body #sec--body__main .sec--sidebar .user-account  .user-info #email {
    color: var(--COLOR-SECONDARY);
    font-size: 0.75rem;
    font-weight: 400;
}

body #sec--body__main .sec--sidebar .user-account:hover {
    background: var(--BGC);
    transition: background 1s ease;
    border-radius: 3px;
    padding: 10px 10px;
}


